* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#app {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#171d22, #262f37, #262f37);
}


.main {
    width: 100%;
    height: 100%;
}







